@import '../../styles/base.module.scss';

.prod__container{
    margin-bottom: 4rem;

    &-img {
        margin-bottom: 1.2rem;
        padding: 1.5rem 0 0 0;
        border-radius: 1rem;

        img{
            width: 100%;
            height: auto;
            transform: rotate(-20deg) translate(-1rem, 0);
            filter: drop-shadow(0 30px 30px rgba(0,0,0,.3));
        }
    }

    &-name{
        margin-bottom: 1.3rem;
        color: $black_30;
        font-size: 20px;
        font-weight: 700;
    }

    &-des {
        color: $gray_77;
        letter-spacing: 0.8px;
        font-size: 13px;
        line-height: 1.8;
        margin-bottom: 20px;
    }

    &-custom {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 0.3rem;

        &-price{
            color: $black_30;
            font-size: 18px;
            font-weight: 700;
        }

        &-btn {
            width: fit-content;
            background-color: $yellow_f6;
            border: none;
            border-radius: 1rem;
            padding: 0.7rem 1rem;
            transition: box-shadow 0.8s;
            font-size: 14px;
            font-weight: 700;
            color: $black_30;
        }

        &-btn:hover {
            cursor: pointer;
            box-shadow: -3px 4px 17px -10px rgba(0,0,0,0.98);
            -webkit-box-shadow: -3px 4px 17px -10px rgba(0,0,0,0.98);
            -moz-box-shadow: -3px 4px 17px -10px rgba(0,0,0,0.98);
            opacity: 0.8;
        }

        &-btn-hidden {
            position: absolute;
            right: 0;
            -webkit-animation: scale-out-hor-right 0.01s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: scale-out-hor-right 0.01s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        }

        &-check{
            width: 1.4rem;
            height: 1.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #EFC845;
            padding: 0.5rem;
            border-radius: 5rem;

            img {
                width: 85%;
                height: auto;
                -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	            animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            }
        }

        &-check-hidden {
            display: none;
        }
    }
}

/**
 * ----------------------------------------
 * animation scale-out-hor-right
 * ----------------------------------------
 */
 @-webkit-keyframes scale-out-hor-right {
    0% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-out-hor-right {
    0% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
      opacity: 1;
    }
  }
  
/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  